@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto&display=swap");

:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #034fd5;
  --clr-primary-a10: #4460da;
  --clr-primary-a20: #6372e0;
  --clr-primary-a30: #7d85e5;
  --clr-primary-a40: #9598ea;
  --clr-primary-a50: #abacee;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #181823;
  --clr-surface-tonal-a10: #2d2d38;
  --clr-surface-tonal-a20: #44444d;
  --clr-surface-tonal-a30: #5c5b64;
  --clr-surface-tonal-a40: #75747c;
  --clr-surface-tonal-a50: #8f8f95;
}

html,
body {
  background-color: var(--clr-surface-a0);
  color: var(--clr-light-a0);
  font-family: "Roboto Mono", "Roboto", monospace;
}

nav {
  gap: 1rem;
  justify-content: end;
}

a {
  color: var(--clr-primary-a40);
}

a:hover {
  color: var(--clr-primary-a50);
}
