---
title: 杜Sir的選擇
date: 2024-12-08
---

<div class="videoContainer">
  <iframe  src="https://www.youtube.com/embed/kGZvmngLfBI?si=iuo7UwTPzsSl_GaZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>